<html>

<head>

<body>
    <header>
        {% include "exemple_master_page/header.html.twig" %}
    </header>
    <main>
        {% block contenuPrincipal %}{% endblock %}
    </main>
    <footer>
        {% include "exemple_master_page/footer.html.twig" %}
    </footer>
</body>

</html>