{% extends 'base.html.twig' %}

{% block title %}Hello SerialisationController!{% endblock %}

{% block body %}

<h1>Lisez le code commenté de la vue</h1>

{# afficher chaîne JSON dans la variable PHP #}
{{ dump (jsonLivres) }}
Voici mon JSON! On va l'utiliser dans le script juste après.


<script>
let livresJSONString = "{{ jsonLivres }}"; // Ceci est qu'un string. Il y a le contenu mais ça nous sert à rien
console.log (livresJSONString);
// On deserialise (passer du JSON à PHP). 
let livres = JSON.parse(livresJSONString); // maintenant on a un array d'objets
console.log( livres);
console.log (typeof(livres));
console.log (livres[1].titre); // par exemple...
</script>



{% endblock %}

