{% extends 'base.html.twig' %}

{% block title %}Hello SerialisationController!{% endblock %}

{% block body %}

<a href="{{ path ("action1") }}">Charger nouvelle vue, afficher livres en PHP (twig)</a>


{% endblock %}
